
* { box-sizing:border-box; margin: 0; padding: 0; }

.score{
    border:2px solid red;
    float:left;
}

.cell-container {
    display:inline;
    position:absolute;
}

.row { margin: -18.5% 0; text-align: center; }
.row:first-child { margin-top: 2.25%; }
.hexagon {
	position: relative;
    
	display: inline-block;
	overflow: hidden;
	margin: 0 8.5%;
	padding: 16%;
	transform: rotate(30deg) skewY(30deg) scaleX(.866); /* .866 = sqrt(3)/2 */
}
.hexagon:before, .content:after {
	display: block;
	position: absolute; /* 86.6% = (sqrt(3)/2)*100% = .866*100% */
	top: 6.7%; right: 0; bottom: 6.7%; left: 0; /* 6.7% = (100% -86.6%)/2 */
	transform: scaleX(1.155) skewY(-30deg) rotate(-30deg); /* 1.155 = 2/sqrt(3) */
	/*background-size: cover;*/
	content: '';
}
.hexagon-red:before{background-color:red}
.hexagon-orange:before{background-color:orange}
.hexagon-yellow:before{background-color:yellow}
.hexagon-green:before{background-color:green}
.hexagon-blue:before{background-color:blue}
.hexagon-purple:before{background-color:purple}
.hexagon-white:before{background-color:white}
.hexagon-pink:before{background-color:pink}
.hexagon-brown:before{background-color:brown}

.content:after { content: attr(data-content); }



#test {
   height:480px;
   width:800px;
   position:relative;
}

/*.cell {
    position:absolute;
    display:inline;
}*/

.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.active-controls > .darkClass{
    display:none;
}

.controls-container{
    border:3px solid black;
    position:relative;
    display:block;
}
.active-controls{
    border:3px solid red;
}