
* { box-sizing: border-box; margin: 0; padding: 0; }

.score{
    border:2px solid red;
    float:left;
}

.hexagon {
	width: 100px;
	height: 55px;
	background: red;
	position: relative;
}
.hexagon:before {
	content: "";
	position: absolute;
	top: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 25px solid red;
}
.hexagon:after {
	content: "";
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 25px solid red;
}


#test {
   height:480px;
   width:800px;
   position:relative;
}

/*.cell {
    position:absolute;
    display:inline;
}*/

.darkClass
{
    background-color: white;
    filter:alpha(opacity=50); /* IE */
    opacity: 0.5; /* Safari, Opera */
    -moz-opacity:0.50; /* FireFox */
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
}

.active-controls > .darkClass{
    display:none;
}

.controls-container{
    border:3px solid black;
    position:relative;
    display:block;
}
.active-controls{
    border:3px solid red;
}